# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Eclipse
.classpath
.project
.settings

# maven-shade-plugin
dependency-reduced-pom.xml

# IntelliJ
.idea
*.iml

# Files relevant to this project
target/
config/sink-connector.properties
config/source-connector.properties
